/*footer*/
footer{
    clear: both;
    background-color: indigo;
    padding: .9375em 3.3333%;
}
footer p{
    margin: 0 !important;
    text-align: center;
    font-size: 85%;
    color: white;
}
footer{
    margin-top: auto;
    margin-right: 2em;
    margin-bottom: 2em;
    color: #FFC857;
}