/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 29, 2023, 11:37:06 AM
    Author     : 16981925
*/


.bracket{
    display: flex;
    width: 100%;
    flex-direction: row;
      align-items: center;
  justify-content: space-evenly;
}

.round{
    width: 15%;
}


/* The parts for each match group */

.gameGroup{
    display: flex;
    height: 300px;

}

.groupDiv{
  display: flex;
  flex-direction: column;
    justify-content: normal;

  width: 50%;

}

.gameTop{
    padding-top: 20px;
    height: 50%;
}

.gameBottom{
    margin-top: auto;
    padding-bottom: 20px;
    height: 50%;
    align-content: end;
}



.teamDivTop, .teamDivBottom{
    background-color: grey;
}

.teamDivTop{
    border-bottom: thin solid black;
}

.teamDivBottom{
    border-top: thin solid black;
}

.gameFinal{
    margin-bottom: 20px;
}

/* CONNECTION LINES */
.connector{
    background-color: lightgray;
    min-height: 100%;
    width: 50%
}




