/* All */

p{
    font-size: 1.2em;
}

#tabs div{
}

.textbox-group{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.textbox-group label{
    font-size: 1.5em;
    width: 100%;
}

.textbox-group input{
    width: 15em;
}

.search-button{
    width: 95%;
    margin: auto;
}

.search-button input{
    width: 8em;
}

.button-top{
    margin-bottom: 1em;
}



.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
}

td, th{
    border: 1px solid black;
}

.content-table thead tr {
    background-color: #A51EE1;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    background-color: white;
    font-size: 1.3em;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #fffaf0;
    
}


.content-table tbody tr:hover {
    background-color: #e3e1e1;
}


/* Other Tab*/

#tabs h1{
    color: black;
    background-color: rgba(197,0,255,0.34);
    border-bottom: black 2px solid;
}






table input{
    width: 100%;
    height: 40px;
    border: 1px solid;
    border-color: black;
    background: #A51EE1;
    border-radius: 25px;
    font-size: 1em;
    color: white;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
}



table input:hover{
    border-color: #A51EE1;
    transition: .5s;

}


.button-group .button-regiser{
    margin-top: auto;
    
    color: white;
    border-color: black;
}


.button-group .button-regiser:hover{
    border-color: #A51EE1;
    transition: .5s;
}











@media only screen and (max-width: 767px){
    
    .content-table thead{
        display: none;
    }
    
    .content-table, .content-table tbody, .content-table tr, .content-table td{
        display: block;
        width: 100%;
    }
    
    .content-table tr{
        margin-bottom: 1em;
    }
    
    .content-table tr td:first-child{
        color: #FFC857;
        background-color: #4c4c4c;
        font-size: 1.5em;
    }
    
    table{
        border: none;
    }
    
    table input{
        font-size: 1.5em;
    }
    
    
    
    

}