main{
    border: none;
    background-color: #1F2041;
}

.search-form{
    display:  flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.search-form label{
    width: auto;
    color: white;
    font-size: 1.6em;
}
.search-form .search-button{
    width: auto;
    margin: 0;
}






.tournament-name-input{
    height: 45px;
    width: 25%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-right: 2em;
}



.search-button input{
    width: 200px;
    height: 50px;
    border: 1px solid;
    background: #FFC857;
    border-radius: 25px;
    font-size: 18px;
    color: #1F2041;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.search-button input:hover{
    border-color: #FFC857;
    transition: .5s;
}





.button-group{
    width: 30%;
    padding-right: 5px;
}



.button-group input{
    width: 100%;
    height: 40px;
    margin: .1em;
    border: 1px solid;
    background: #FFC857;
    border-radius: 25px;
    font-size: 18px;
    color: #1F2041;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}


.button-group input:hover{
    border-color: #FFC857;
    transition: .5s;

}


.button-group .button-regiser{
    background: #A51EE1;
    color: white;
    border-color: black;
}


.button-group .button-regiser:hover{
    border-color: #A51EE1;
    transition: .5s;
}







.tournament-tag{
    background-image: url(../images/assets/black_stripes.webp);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.tournament-tag{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    position: relative;
    padding-top: 46.51%;
    margin-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}

.tournament-tag h2{
    color: white;

    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-left: 1em;

}

.tournament-details .details-top{
    background-color: rgba(0,0,0,.5);
    border-radius:  0 0 5px 5px;
}

.tournament-details .details-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    color: white;
     border-radius: 5px 5px 0 0;
     background-color: rgba(0,0,0,.5);

}

.tournament-tag .tournament-details{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    height: 100%;
    transform: translate(-50%, -50%);
    align-content:flex-start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


.tournament-tag:hover .tournament-details{
    opacity: 1;
}

.tournament-tag h3{
    color: white;
    font-size: 1em;
    text-indent: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

.dates{
    color: white;
    display: flex;
    
    width: 70%;
    flex-direction: column;
    
}

.dates label{
    text-align: right;
    width: auto;
    margin-left: 1em;
}


@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 476px){
    
    main{
        width: 100%;
    }
    
    .search-form{
        display:  flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    .search-form label{
        font-size: 1.5em;
    }
    
    .tournament-name-input{
        width: 100%;
        margin-bottom: 1em;
    }
    
    .search-button input{
        width: 100%;
    }
    
    
    
    
    
    
    
    
    
    

    .tournament-tag{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 25px;
        align-items: center;
        position: relative;
        padding-top: 100%;
        margin-bottom: 2em;
        margin-right: auto;
        margin-left: auto;
        background-color: rgba(0,0,0,.5);
    }
    
    .tournament-tag .tournament-details{
        width: 100%;
        opacity: 1;
    }
    
    
    
    .tournament-details .details-bottom{
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        color: white;
    }
    
    .tournament-details .details-top{
        background-color: rgba(0,0,0,0);
        position: absolute;
        top: 20px;
        
    }
    
    .details-top h2{
        margin-left: 5px;
    }
    
    .details-top h3{
        display: none;
    }

    
    .dates{
        display: flex;
        flex-direction: column;
        width: 60%;
        background-color: rgba(0,0,0,0);
    }
    
    .dateStart{
        display: flex;
        flex-direction: column;
    }
    
    .dateStart label{
        text-align: left;
        padding-bottom: 0;
    }
    
    .dateStart span{
        margin-left: 1em;
    }
    
    .dateRegister{
        display: flex;
        flex-direction: column;
    }
    
    .dateRegister label{
        text-align: left;
        padding-bottom: 0;
    }
    
    .dateRegister span{
        margin-left: 1em;
    }

    .button-group{
        width: 40%;
    }
    
    .button-group form{
        margin-bottom: 2.5px;
        margin-top: 2.5px;
    }
    
}